body {
  background: #212121;
  font-family: "SabadoRegular"; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.form__result-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%; }
  @media (max-width: 425px) {
    .form__result-wrapper {
      width: 100%; } }

.form__areas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px; }
  @media (max-width: 425px) {
    .form__areas {
      flex-direction: column; } }

.form__input-text-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%; }
  @media (max-width: 425px) {
    .form__input-text-wrapper {
      width: 100%; } }

.form__key-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 60px 0; }

.form__btn-wrapper {
  display: flex;
  justify-content: center; }

.result__area {
  overflow-wrap: break-word; }

.copy {
  position: absolute;
  bottom: 0;
  right: -15px;
  transform: translate(100%, 0);
  background-color: #ca3e47;
  border-radius: 5px; }
  @media (max-width: 1390px) {
    .copy {
      bottom: 0;
      right: 0;
      transform: translate(0%, 130%); } }
  @media (max-width: 425px) {
    .copy {
      right: 50%;
      transform: translate(50%, 200%); } }

.area {
  background: #727272;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  resize: none;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  min-height: 130px; }

.title {
  color: #ca3e47;
  position: absolute;
  left: 0;
  font-size: 20px;
  top: -35px; }
  @media (max-width: 1200px) {
    .title {
      top: calc(-30px + -5 * ((100vw - 320px) / 880)); } }
  @media (max-width: 425px) {
    .title {
      left: 50%;
      transform: translate(-50%, 0); } }

@media (max-width: 425px) {
  .input-text {
    margin: 0 0 60px 0; } }

.input-text__title {
  left: 100%;
  transform: translate(-100%, 0); }
  @media (max-width: 425px) {
    .input-text__title {
      left: 50%;
      transform: translate(-50%, 0); } }

.key__input {
  width: 20%;
  border-radius: 7px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  height: 25px;
  background: #727272;
  padding: 10px; }
  @media (max-width: 425px) {
    .key__input {
      width: 55%; } }

.key__title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.main-title {
  color: #ca3e47;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
  font-family: "SabadoRegular";
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  margin-top: 50px; }
  @media (max-width: 1200px) {
    .main-title {
      font-size: calc(30px + 20 * ((100vw - 320px) / 880)); } }
  @media (max-width: 1200px) {
    .main-title {
      margin-top: calc(25px + 25 * ((100vw - 320px) / 880)); } }

.btn {
  font-size: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ca3e47; }
  .btn:nth-child(1) {
    margin-right: 120px; }
    @media (max-width: 1200px) {
      .btn:nth-child(1) {
        margin-right: calc(65px + 55 * ((100vw - 320px) / 880)); } }

/*# sourceMappingURL=main.css.map */
