// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss

@import "vars";
@import "mixins";

//Пример импорта
//@import "./components/header";

body {
  background: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  margin-top: 20px;
}

.result {
  background-color: #fff;
  overflow-wrap: break-word;
}
.input-text {
  width: 30%;
  resize: none;
  margin: 0 20px;
}

.inputs {
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
    .input-text {
      margin: 20px 0;
    }
  }
}

.result {
  width: 50%;
  min-height: 50px;
  max-height: 500px;
  border: 2px solid red;
}

.key {
  width: 20%;
  height: 20px;
}

.main-title {
  color: crimson;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  @include adaptiv-value("font-size", 50, 10, 1);
  font-family: "SabadoRegular";
}
